<footer>
  <img class="app-footer-crane" src="assets/img/crane.png" alt="">
  <img class="app-footer-cloud" src="assets/img/nuage-copy-3-480x126.png" alt="">

  <div class="app-footer-links">
    <div>
      <h3>Partenaires</h3>
      <ul>
        <li>Devenir partenaire</li>
        <li>Nos partenaires</li>
      </ul>
    </div>
    <div>
      <h3>Pro / Presse</h3>
      <ul>
        <li>Documents Presse</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Contact</li>
        <li>Mentions légales</li>
        <li>Plan du site</li>
      </ul>

      <div class="app-footer-btn-actions">
        <button>Inscrivez vous à la newsletter</button>
        <button>Envie d'être bénévole</button>
      </div>
    </div>
  </div>


  <p class="app-footer-copyright">© 2020 Festival Les Déferlantes Sud de France | Réalisation AttrapTemps</p>
</footer>
